:root{
    --azul-ceu-cyber: #22A0B6;
    --azul-claro-cyber: #133E7C;
    --azul-noite-cyber: #051A2D;
    --rosa-claro-cyber: #E93BAE;
    --roxo-escuro-cyber: #1D1546;
    --roxo-claro-cyber: #7805DB;
    --roxo-cyber: #3E1A63;
    --verde-claro-cyber: #22D1A3;
    --verde-escuro-cyber: #1A6352;
  }

  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var(--azul-noite-cyber);
    justify-content: center;
    align-items: center;
}

.content{
    background-color: #22D1A3;
    border-radius: 18px;
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before{
    content: "";
    position: absolute;
    background-color: #051A2D;
    width: 40%;
    height: 100%;
}

.title{
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-t1{
    color: aliceblue;
}

.title-t2{
    color: #051A2D;
}

.description{
    font-size: 15px;
    font-weight: 300;
    color: aliceblue;
    line-height: 30px;
}

.btn{
    border-radius: 20px solid al;
    text-transform: uppercase;
    color: aliceblue;
    padding: 10px 50px;
    font-size: 10px;
    cursor: pointer;
    font-weight: bold;
}

.btn1{
    background-color: transparent;
    border: 1xp solid aliceblue;
}

.btn1:hover{
    background-color: aliceblue;
    color: var(--verde-claro-cyber);
}

.first-column{
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}

.second-column{
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-content{
    display: flex;
}

.list-social-media{
    display: flex;
    list-style-type: none;
}

.item-social-media{
    border: 1xp solid gainsboro;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 30px;
    text-align: center;
}

.item-social-media a{
    color: var(--azul-ceu-cyber);
}

.form{
    display: flex;
    flex-direction: column;
}

.second-content{
    position: absolute;
    display: none;
}